<a href="https://colab.research.google.com/github/SyifaUrRahmah030/TugasSyifa/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Syifa Ur Rahmah (H051211030)

Penjumlahan Dua Buah Matriks

In [ ]:
matriksA= [
           [a, b],
           [c, d],
]
a = int(input('masukkan nilai a:'))
b = int(input('masukkan nilai b:'))
c = int(input('masukkan nilai c:'))
d = int(input('masukkan nilai d:'))
print('matriks A', matriksA)

matriksB= [
            [e, f],
            [g, h],         
]
e = int(input('masukkan nilai e:'))
f = int(input('masukkan nilai f:'))
g = int(input('masukkan nilai g:'))
h = int(input('masukkan nilai h:'))
print('matriks B', matriksB)

for i in range(0, len(matriksA)):
  for j in range(0, len(matriksA[0])):
    print(matriksA[i][j] + matriksB[i][j],end='  '),
  print()

Nomor 1

In [ ]:
barang=int(input('Banyak Buah Barang:'))
for B in range (barang):
  print('Barang ke-',B+1)
  jumlahbrg= int(input('Jumlah Barang:'))
  hargabrg= int(input('Harga Barang:'))
  total=jumlahbrg*hargabrg

Nomor 2

In [ ]:
Banyakbil= int(input('Input Banyak bilangan:'))
jum_genap=0
jum_ganjil=0
for B in range (Banyakbil):
  b = int(input('Input Bilangan:'))
  if b % 2 == 0:
   jum_genap=jum_genap+1
  else:
    jum_ganjil=jum_ganjil+1
print('banyak bilangan genap = ',jum_genap)
print('banyak bilangan ganjil = ',jum_ganjil)

Nomor 3

In [ ]:
nilaiawal=int(input('Input Nilai Awal:'))
nilaiakhir=int(input('Input Nilai Akhir:'))
print('bilangan kelipatan 3 antara %d dan %d' %(nilaiawal,nilaiakhir))
for i in range (nilaiawal, nilaiakhir+1):
  if i%3==0:
    print(i, end= ' ' )

Nomor 4

In [ ]:
n = int(input('bilangan: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(str(int(j)), end=' ')  
    print(' ')

Nomor 5

In [ ]:
from texttable import Texttable
table = Texttable
jawab = 'y'
no = 0
nama = []
n_tugas = []
n_kuis = []
n_UTS = []
n_UAS = []
nilai_Akhir = []
while(jawab == 'y'):
  nama.append

table.add_rows([['No.', 'Nama Mhs', 'N.Tugas', 'N.Kuis', 'N.UTS','N.UAS','Nilai Akhir'],
                N+1, NamaMhs, NilaiTugas, NilaiKuis, NilaiUTS, NilaiUAS, NilaiAkhir])
print(table.draw())